# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
.env
.env*.local


# VS Code
.vscode/

# Logs
*.log

# Local env files
*.env
*.env.*

data
cache